

/* Default styles for larger screens (e.g., desktop) */
.description {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  align-items: center;
}

p {
  font-size: 24px;
  font-family: "Jura", sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-family: "Jura Bold";
}

img {
  margin-left: 30px;
}

.description .button {
  display: block;
  margin: 0 auto;
  font-family: "Jura Bold";
}


/* Styles for tablets */
@media (max-width: 768px) {
  .description {
    flex-direction: column; 
    text-align: center; 
    margin: 20px;
  }

  p {
    font-size: 18px; 
  }

  .description img {
    display: none;
    // height: 250px;
  }
}

/* Styles for phones */
@media (max-width: 480px) {
  p {
    font-size: 16px; 
  }

 .description img {
    // height: 200px; 
    display: none;
  }
}
