@use "/src/assets/styles/scss/mixins" as mixins;
@use "/src/assets/styles/scss/variables" as variables;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: variables.$black;
    overflow: hidden;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: clamp(180px, 690vw, 60vw);
    transition: all 0.5s;

    & .card-image {
        width: 100%;
        max-width: 370px;
        aspect-ratio: 3/4;
        height: 200px;
        height: clamp(200px, 16vw, 40vw);
        object-fit: cover;
        border-radius: 20px;
    }

    & .default-img {
        max-width: 370px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 20px;
    }

    & .default-student-img {
        height: clamp(150px, 16vw, 40vw);
    }

    & .default-project-img {
        height: clamp(150px, 14.5vw, 40vw);
    }

    & .card-content {
        display: flex;
        flex-direction: column;
        padding: 20px;

        & button {
            background: transparent;
            width: 100%;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            & .card-title {
                color: variables.$tiffany;
                @include mixins.jura-bold;
                transition: all 0.5s;
                width: max-content;
                padding-bottom: 12px;
                inline-size: fit-content;
            }

            // & .card-title:hover {
            //     cursor: pointer;
            //     transform: scale(1.2);
            // }
        }

        & .card-description {
            color: variables.$white;
            @include mixins.jura;

            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        // & .card-description:hover {
        //     cursor: default;
        // }
    }
}
.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
@media (min-width: 585px) {
    .card {
        width: clamp(180px, 40vw, 60vw);
    }
}
@media (min-width: 700px) {
    .card {
        width: clamp(180px, 25vw, 60vw);
    }
}
@media (min-width: 1480px) {
    .card {
        padding: 30px;
    }
}