@use "../../assets/styles/scss/variables" as variables;
@use "../../assets/styles/scss/mixins" as mixins;

.students {

      h1 {
        margin-bottom: 50px;
        margin-top: 50px;
        @include mixins.jura-bold;
        color: variables.$tiffany;
        text-align: center;
      }

  main {

    .container_students {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .student {
        border: 1px solid variables.$red;
        border-radius: 10px;
        margin-right: 20px;
        padding: 20px;

        // & button {
        //   background-color: variables.$red;
        //   border: 1px solid white;
        //   color: variables.$white;
        //   border-radius: 15px;
        //   padding: 10px;
        //   font-size: 15px;
        //   @include mixins.jura-medium;
        // }

        p {
        font-size: 16px;
        @include mixins.jura;
      }

        img {
          margin: 0px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
