@use "/src/assets/styles/scss/variables" as variables;
@use "/src/assets/styles/scss/mixins" as mixins;

.navbar_main .navbar {
        display: flex;
    justify-content: space-between;
    align-content: center;
}

#navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav .nav_link {
    color: variables.$tiffany-color;
    @include mixins.jura-bold;
    // font-family: "Jura Bold", sans-serif;
    font-size: 20px;
}

.nav .nav_link:hover {
    color: variables.$white
}

.login_signup .login-link {
  color: white; 
  padding-right: 22px;
}

.login_signup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    @include mixins.jura-bold;
    // font-family: "Jura Bold", sans-serif;

}

.header-name {
    @include mixins.jura-bold;
    // font-family: "Jura Bold", sans-serif;
    font-size: 24px;
}

.logo_name {
    padding-right: 150px;
}

.login_signup:hover{
    color: variables.$white;
    
}


@media (max-width: 768px) {
    .nav .nav_link {
        padding-left: 10px;
    }
}
 
