.students {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        display: flex;
        // margin: 20px;
        flex-direction: column;
        align-items: center;

        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(27 27 27) 100%);
        padding: 0px 117px 39px;
    }
}

