.projects {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    main {
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }
}
