@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


// Style for Headings
@font-face {
  font-family: 'Jura Bold';
  font-weight: 700; 
  src: url('https://fonts.googleapis.com/css2?family=Jura&display=swap') format('ttf'); 
}

// // Style for Subheadings
// @font-face {
//   font-family: 'Jura Medium'; 
//   src: url('../../fonts/Jura-Medium.ttf') format('ttf'); 
// }

//Style for text
@font-face {
  font-family: 'Jura'; 
  src: url('https://fonts.googleapis.com/css2?family=Jura&display=swap') format('ttf'); 
}